.products-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 5rem;
    align-items: center;
    margin-top: 3rem;
    margin-left: 3rem;
}

.products-page img {
    max-width: 200px;
    width: 40%;
    height: 100%;
}

.product-detail {
    display: flex;
    flex-direction: column;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.review-list {
    list-style: none;
}